@use './styles/_reset.scss';
// @import 'ng-zorro-antd/ng-zorro-antd.min.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  overflow-x: hidden;
}

.heading {
  background-image: linear-gradient(to right, #337ae5 0, #408fe5 34%, #d4734a 71%, #ea6b2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
