<div
  class="product-card cursor-pointer bg-bg-secondary p-4 rounded-2xl shadow-[2px_4px_12px_#00000014] hover:shadow-[2px_4px_16px_#00000029] hover:scale-[1.04] ease-in duration-100"
  [class]="'product-' + index"
  [routerLink]="['/product', product.id]"
>
  <h3 class="product-title text-[28px] w-64 truncate text-inherit">{{ product.productname }}</h3>
  <p class="product-description text-xl text-inherit w-64 truncate text-inherit">
    {{ product.description }}
  </p>
  <p class="product-price text-inherit">Từ {{ product.price | currency }}₫</p>
  <img
    class="product-image w-full h-[368px] object-cover"
    [src]="product.image"
    [alt]="product.productname"
  />
</div>
